@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{ 
  background: url("bg.png"), linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
  background-attachment: fixed;
}

/*later to be changed*/
